img{
	max-width:100%
}
body{
	    background: #dedede;
}
.user-icon{
    width: 44px;
    border-radius: 50px;
    position: relative;
    top: 8px;
    left: 9px;
}
.header {
    background: #433752!important;
    box-shadow: 1px 1px 5px black!important;
    }
nav ul a:hover {
    background-color: rgba(0,0,0,0);
}
.dash-board{
	    margin: 0px;
    margin-top: 0;
    background: white;
    position: relative;
}
.sitewrap{
    position: relative;
        width: 84%;
    margin: 0 auto;
box-shadow: 1px 0px 11px;
    background: white;
    margin-top: 2px;
}
.user-wrap{
    padding: 16px 0px 16px!important;
}
.sitewrap i{
color: grey;
}
.user-wrap:hover{
    background: #433752;
    }
.dash-board .active{
    background: #433752;
    }
 .mar-user{
 	margin-top: -5px;
 }
 .user-wrap a{

     color: grey; }
.user-wrap:hover a{
    color: #FFF;
    }
.dash-board .active a, .dash-board .active i {
	color: #fff;
}
.collapsible-body{
background: #433752;
color: #fff;
}


    .user-wrap:hover i{
color: #fff;
    }
    #chartdiv {
	width	: 100%;
	height	: 500px;
}
.amcharts-export-menu{
	display: none!important;
}
.amcharts-chart-div a{
	display: none!important;
}
.card h6{
	    padding: 10px;
    font-weight: 500;
    color: rebeccapurple;
}
.table-card{
	    margin: 35px;
	    overflow-x: scroll;
}
table th{
	text-align: center;

}
table.striped>tbody>tr>td{
	text-align: center;
}
#navigate_open{
	display: none;
}
.side-nav{
	background:#433752!important;
	color: #fff!important;
}
.side-nav i{
	color: #fff!important;
	}
	.side-nav a{
	color: #fff!important;
	}
	.card {
		overflow-x: scroll;
	}